<!DOCTYPE html>
<!--[if (lt IE 9) ]>			<html lang="en" class="no-js oldie">	<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->	<html lang="en" class="no-js">		<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title><%= params.siteTitle %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="<%= params.paths.url %>style.css" />
	<link rel="stylesheet" href="<%= params.paths.url %>assets/font.css" />
	<script>
		// Toggle on the .js class if javascript is available
		var html=document.getElementsByTagName('html').item(0); // There can be only one.
		html.classList.remove('no-js');
		html.classList.add('js');
		// Note that the html variable is available for further javascript as well.
	</script>	
</head>
<body>
	<a id="top" href="#main-content" class="skip-link">Skip to main content</a>
	<header id="site-header" role="banner">
		<h1 id="site-identifier"><a href="<%= params.paths.url %>">Please<span style="width: 0; display: inline-block;"> </span>Distract.me</a></h1>
	</header>

	<main id="main-content" role="main">

		<p id="recommendation">
			<a id="link" href="#" target="_blank" rel="noopener noreferrer">Here's something interesting from Luke at home.</a>
			<button id="refresh">Refresh</button>
		</p>

		<details>
			<summary><h2>About</h2><span>+</span></summary>
			<p>We all need a little distraction from time to time. To help aid in that, we've got a curated list of links that we think you might like.</p>
			<p>You're given a single link at random. Refreshing or reloading the page will get you a different random link each time.</p>
			<p>Take a deep breath. Read something funny, interesting, or heartwarming. And enjoy.</p>
		</details>

	</main>

	<footer id="site-footer" role="contentinfo">
		&copy;<%= new Date().getFullYear() %>.
	</footer>

	<script>
		var links = <%= params.dataExport %>;
	</script>
	<script src="<%= params.paths.url %>script.min.js"></script>

	<!-- remove livereload line for delivery! -->
	<script src="//localhost:2112/livereload.js"></script>

</body>
</html>
